<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.ProjectContent">
	
	<insert id="insert" parameterType="ProjectContentVO">
		INSERT INTO project_content (project_no, content)
		VALUES(#{project_no}, #{content})
	</insert>
	
	<select id="select" resultType="ProjectContentVO">
		select * from project_content order by project_no desc
	</select>
	
	<select id="selectLastNo" resultType="int">
		select last_insert_id()
	</select>
	
	<select id="selectByNo" parameterType="ProjectContentVO" resultType="ProjectContentVO">
		select * from project_content where project_no = #{project_no}
	</select>
	
	<delete id="deleteByNo" parameterType="ProjectContentVO">
		DELETE FROM project_content WHERE project_no=#{project_no}
	</delete>
	
	<update id="update" parameterType="ProjectContentVO">
		UPDATE project_content
		SET content=#{content}
		WHERE project_no=#{project_no}
	</update>
</mapper>






















